<h1>Videos</h1>

<section>
  <% @videos.each do |video| %>
    <p class="url"><a href="/videos/<%= video.id %>"><%= video.url %></a></p>
  <% end %>
</section>

<p><a href="/videos/new">New Video</a></p>
