<h2>Add a Video</h2>

<form method="post" action="/videos">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <table class="newMedia">
    <tr>
      <td><label for="url">URL of Video</label></td>
      <td><input type="text" name="url" autofocus="autofocus"></td>
    </tr>
    <tr>
      <td class="textareaLabel"><label for="description">Short Description</label></td>
      <td><textarea name="description"> </textarea></td>
    </tr>
    <tr>
      <td><label for="Rating">Rating</label></td>
      <td><input type="text" name="rating" class="shortInput"></td>
    </tr>
  </table>
  <input type="submit" value="Create Video" id="button">
</form>
