<p>Welcome to the media manager, where you can, well...manage some media.</p>

<section class="column index" id="pictures">
  <h2>Pictures!</h2>
  <a href="/pictures">View All</a>
  <a href="/pictures/new">Add New</a>
</section>

<section class="column index">
  <h2>Videos!</h2>
  <a href="/videos">View All</a>
  <a href="/videos/new">Add New</a>
</section>
