<p>Welcome to the media manager, where you can, well...manage some media.</p>

<section class="column pictures">
  <h2>Pictures!</h2>
  <a href="#">View All</a>
  <a href="#">Add New</a>
</section>

<section class="column videos">
  <h2>Videos!</h2>
  <a href="#">View All</a>
  <a href="#">Add New</a>
</section>
