<section id="photoGallery">
  <% @pictures.each do |picture| %>
    <p>
      <a href="pictures/<%= picture[:id] %>"><img src="<%= picture[:url] %>"></a>
    </p>

  <%end%>
</section>

<p class="clearFloat"><a href="/pictures/new">New Picture</a></p>
