

<section class="column">
  <p class="pictureWrapper"><img src="<%= @picture.url %>"/></p>
  <p>Rating: <%= @picture.rating %> out of 5</p>
</section>

<section class="column mediaShow">
  <p><%= @picture.url %></p>
  <p><%= @picture.description %></p>
  <button id="button" class="delete">Delete Picture</button>
</section>


