html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    font-family: 'Open Sans', 'sans-serif';
}

header {
    background: #336699;
    height: 9.5em;
}

#header_container {
    margin: auto;
    padding-top:3.2em;
    width: 61.5em;
    overflow: hidden;
    height: 100%;
}

#header_container h1{
    color: white;
    font-size: 2em;
    width: 77%;
    float: left;
    padding-left: 1em;
}
#navigation li {
    float: right;
    margin: 1em .25em 0;
    color: #fff;
}
#navigation li a{
    color: #fff;
    margin-right: .25em;
}

section {
    background-color: #60BBD6;
    width: 100%;
}

#main_content {
    margin: auto;
    width: 58em;
    padding: 3em 2em;
    background-color: #fff;
    min-height: 350px;
    overflow: hidden;
}

.column{
    float:left;
    width: 50%;
    background: #fff;
    margin-top: 4em;
}

.column h2{
    font-size: 2em;
}
.column a{
    display: block;
    margin: 1em 0;
}

footer{
    background: #000;
    height: 6.25em;
    color: #fff;
    vertical-align: bottom;
}
#footer_container {
    margin: auto;
    padding-top:2.2em;
    max-width: 980px;
}

/*-------------pictures------------------*/

.one_half {
    width: 450px;
}

.one_half {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

h1 {
    font-size: 30px;
    padding-bottom: 20px;
}
tr td:first-child {
    width: 150px;
}
td {
    padding:5px;
    font-size: 20px;
}
td input,
td textarea {
    width: 300px;
}

.shortInput {
    width: 150px;
}
input[type='submit'] {
    width: 120px;
    border: 1px solid #ccc;
    box-shadow: 5px 4px 3px 1px #444;
    background: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}
.new_picture {
    width: 100%;
    margin-top: 2em;
}
#description_label {
    vertical-align: top;
}


