html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    font-family: 'Open Sans', 'sans-serif';
}

header {
    background: #336699;
    height: 9.5em;
}

#header_container {
    margin: auto;
    padding-top:3.2em;
    width: 61.5em;
    overflow: hidden;
    height: 100%;
}

#header_container h1{
    color: white;
    font-size: 2em;
    width: 77%;
    float: left;
    padding-left: 1em;
}
#navigation li {
    float: right;
    margin: 1em .25em 0;
    color: #fff;
}
#navigation li a{
    color: #fff;
    margin-right: .25em;
}

section {
    background-color: #60BBD6;
    width: 100%;
}

#main_content {
    margin: auto;
    width: 58em;
    padding: 3em 2em;
    background-color: #fff;
    min-height: 350px;
    overflow: hidden;
}
h1 {
    font-size: 30px;
    padding-bottom: 20px;
}
h2{
    font-size: 2em;
    padding-left: 5px;
}
.column{
    float:left;
    width: 50%;
    background: #fff;
    margin-top: 4em;
}
.column.index a{
    display: block;
    margin: 1em 0 1em.5em;
}
#button{
    padding: 5px 15px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 5px 4px 3px 1px #444;
    font-size: 14px;
}
#button.delete{
    background: #cc0000;
    color: #fff;
    border: none;
}
footer{
    background: #000;
    height: 6.25em;
    color: #fff;
    vertical-align: bottom;
}
#footer_container {
    margin: auto;
    padding-top:2.2em;
    max-width: 980px;
}

/* Video CSS */
.newMedia{
    margin-top: 2em;
    width: 100%;
}
.newMedia input{
    padding: 8px;
    width: 40em;
    margin-bottom: 2em;
}
.newMedia .textareaLabel{
    vertical-align: top;
}
.newMedia textarea{
    width: 41em;
    height: 10em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
}
.newMedia label{
    padding: 5px;
    width: 40em;
}
.newMedia .shortInput{
    width: 15em;
}
.url{
    padding: 1em;
    background: #fff;
    font-size: 14px;
}
.videoWrapper{
    height: 15em;
    width: 25em;
    margin-bottom: 1em;
}
.column.mediaShow p{
    margin-bottom: 2em;
}
.mediaShow.delete{
    margin-top: 40em;
}
.mediaShow a{
    padding-left: 1em;
}
.comment{
    height: 150px;
}

