<!DOCTYPE html>
<html>
<head>
  <title>RailsCrudApp</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="header_container">
    <h1>Sparkling Hill Rails Media Manager</h1>
  </div>
</header>

<%= yield %>

</body>
</html>
