<!DOCTYPE html>
<html>
  <head>
    <title>localhost</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div id="header_container">
        <h1>Media Manager</h1>
        <ul id="navigation">
          <li><a href="/videos"> all videos</a></li>
          <li>|</li>
          <li><a href="/pictures">all pictures</a></li>`
        </ul>
      </div>
    </header>

    <section>
      <div id="main_content">
        <%= yield %>
      </div>
    </section>

    <footer>
      <div id="footer_container">
        <p>Not copyrighted at all</p>
      </div>
    </footer>
  </body>
</html>
